---
layout: default
title: Blog
permalink: /blog/
---

<h1 class="tighten-ph" id="header-text">
    <b>Blog</b>
</h1>

{% for post in site.posts %}
    {% if post.hidden %}
    {% else %}
    <h4 style="margin-top: 40px;"><b><a href="{{ post.url | prepend: site.baseurl }}">
        {% if post.blogtitle %}
            {{ post.blogtitle }}
        {% else %}
            {{ post.title }}
        {% endif %}

    </a></b></h4>
    <i><time>Published on {{ post.date | date: "%B %-d, %Y" }}</time></i>
    {% endif %}
{% endfor %}