---
layout: default
title: Gallery
permalink: /gallery/
---

<div class="row d-flex justify-content-center">
    <h1 class="tighten-ph"><b>Gallery</b></h1>
</div>

<div class="row photos">
    <div class="col-sm-4">
        {% assign filenames = "idelti.jpg,airplane_battle.jpg,ats_poster.jpg,ats_poster2.jpg,snagertv.jpg,mountians.png" | split: "," %}
        {% for name in filenames %}
            <a href="{{ site.baseurl }}/assets/images/gallery/{{ name }}" data-lightbox="photos"><img
                class="img-fluid" src="{{ site.baseurl }}/assets/images/gallery/{{ name }}"></a>
        {% endfor %}
    </div>
    <div class="col-sm-4">
        {% assign filenames = "banerpabel.jpg,gim3wall.png,heart_of_nature.jpg,kosiner_avatar.jpg,mounti.png,poster_barrado.jpg,vexel_logo.jpg,fbdon.png" | split: "," %}
        {% for name in filenames %}
            <a href="{{ site.baseurl }}/assets/images/gallery/{{ name }}" data-lightbox="photos"><img
                class="img-fluid" src="{{ site.baseurl }}/assets/images/gallery/{{ name }}"></a>
        {% endfor %}
    </div>

    <div class="col-sm-4">
        {% assign filenames = "donadigo_wall.png,banner_barrado.jpg,roxmb.png,kosiner.jpg,m4ebaner.jpg,mounti_avatar.jpg,rikowy.jpg,gugul_banner.jpg,donx.png" | split: "," %}
        {% for name in filenames %}
            <a href="{{ site.baseurl }}/assets/images/gallery/{{ name }}" data-lightbox="photos"><img
                class="img-fluid" src="{{ site.baseurl }}/assets/images/gallery/{{ name }}"></a>
        {% endfor %}
    </div>
</div>