body {
    margin: 50px;
}

.title {
    margin-bottom: 70px;
}

.published {
    margin-bottom: 60px;
    color: rgb(94, 94, 94);
    font-style: italic;
}

.subtitle {
    margin-bottom: 10px;
}

.content {
    margin-bottom: 60px;
}

.body-dark {
    background: rgb(24, 24, 24);
    color: rgb(218, 218, 218);
}

.body-dark .published {
    color: rgb(156, 156, 156);
}

.post-img {
    width: 100%;
    margin-bottom: 30px;
}

.caption {
    font-style: italic;
    color: rgb(94, 94, 94);
}

.post-video {
    width: 100%;
}

@media (max-width: 480px) {
    body {
        margin: 10px;
    }
}

.desc-ul li {
    margin: 0 0 15px 0;
}