body {
    margin: 50px;
}

.title {
    margin-bottom: 70px;
}

.subtitle {
    margin-bottom: 10px;
}

.content {
    margin-bottom: 60px;
}

.body-dark {
    background: rgb(24, 24, 24);
    color: rgb(218, 218, 218);
}