---
---

body {
    line-height: 1.4;
}

li {
    margin-bottom: 0;
}

#content li a {
    color: var(--main-text-color);
}

.container * {
    font-family: Arial, Helvetica, sans-serif;
}

h5 {
    margin-bottom: 40px;
}

h4 {
    margin-top: 80px;
}

h2 + h4 {
    margin-top: 0px;
}

[id]::before {
    content: '';
    display: block;
    height: 100px;
    margin-top: -100px;
    visibility: hidden;
}