---
---

html, html[data-theme="light"] {
    --main-background-color: rgb(230, 230, 230);
    --main-text-color: rgb(24, 24, 24);
    --main-text-color-rgb:24, 24, 24;
    --header-color: #d6d6d6;
    --link-color: #19640b;
    --link-color-rgb:25, 100, 11;
    --link-hover: #389b24;
    --light-text-color: rgb(37, 37, 37);
    --code-background-color: rgb(197, 197, 197);
    --code-color: rgb(3, 59, 65);
    --warning-color: #6c6c19;
    --sidebar-color: #cbcbcb;
}

html[data-theme="dark"] {
    --main-background-color: #151614;
    --main-text-color: rgb(197, 197, 197);
    --main-text-color-rgb:197, 197, 197;
    --header-color: #242424;
    --link-color: #c6ee0d;
    --link-color-rgb:198, 238, 13;
    --link-hover: #e0f38b;
    --light-text-color: rgb(160, 160, 160);
    --code-background-color: rgb(19, 19, 19);
    --code-color: rgb(151, 224, 229);
    --warning-color: #eeee34;
    --sidebar-color: #121211;
}

@media (prefers-color-scheme: dark) {
    html, html[data-theme="dark"] {
        --main-background-color: #151614;
        --main-text-color: rgb(197, 197, 197);
        --main-text-color-rgb:197, 197, 197;
        --header-color: #242424;
        --link-color: #c6ee0d;
        --link-color-rgb:198, 238, 13;
        --link-hover: #e0f38b;
        --light-text-color: rgb(160, 160, 160);
        --code-background-color: rgb(19, 19, 19);
        --code-color: rgb(151, 224, 229);
        --warning-color: #eeee34;
        --sidebar-color: #121211;
    }

    html[data-theme="light"] {
        --main-background-color: rgb(230, 230, 230);
        --main-text-color: rgb(24, 24, 24);
        --main-text-color-rgb:24, 24, 24;
        --header-color: #d6d6d6;
        --link-color: #19640b;
        --link-color-rgb:25, 100, 11;
        --link-hover: #389b24;
        --light-text-color: rgb(37, 37, 37);
        --code-background-color: rgb(197, 197, 197);
        --code-color: rgb(3, 59, 65);
        --warning-color: #6c6c19;
        --sidebar-color: #cbcbcb;
    }
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Arial, "Lucida Grande", sans-serif;
    padding-top: 150px;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
}

h1 {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 30px;
}

h4 {
    letter-spacing: -1px;
}

.desc {
    margin-bottom: 20px;
}

h5 {
    margin-bottom: 60px;
}


a {
    color: var(--link-color);
    font-weight: bold;
}

a:hover {
    color: var(--link-hover);
    transition: all 0.5s;
}

.btn {
    color: var(--main-text-color) !important;
    background: none !important;
    border-color: rgba(var(--main-text-color-rgb), 0.5) !important;
}

.btn:active, .btn:focus {
    // outline: var(--link-color) !important;
    box-shadow: 0 0 0 .2rem rgba(var(--link-color-rgb), 0.4) !important;
    border: none !important;
}

.btn-primary {
    border-color: var(--link-color);
}

.card {
    background-color: var(--header-color);
    height: 100%;
}

.card-title {
    font-weight: bold;
}

.card-img-top {
    width: 150px;
    margin: 20px;
    border-bottom-left-radius: calc(.25rem - 1px);
    border-bottom-right-radius: calc(.25rem - 1px);
}

.warning {
    color: var(--warning-color);
}

#header {
    background-color: var(--header-color);
    -webkit-box-shadow: 0px 10px 22px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 22px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 22px -11px rgba(0,0,0,0.75);
}

#header canvas {
    z-index: -1;
}

#logo-header {
    clip-path: circle(20px at center);
}

.tighten-ph {
    transition: all 0.5s;
}

.tight {
    letter-spacing: -2px;
}

.link {
    margin-right: 30px;
}

.navbar {
    padding-top: 5px;
    padding-bottom: 5px;
}

.row {
    margin-bottom: 50px;
}

// .body-dark {
//     background: rgb(24, 24, 24);
//     color: rgb(218, 218, 218);
// }

.photos img {
    margin-bottom: 20px;
}

.title {
    font-size: large;
}

.centered {
    text-align: center;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid var(--main-text-color);
    margin-bottom: 80px;
}

th, td {
    padding: 7px;
}


.download-button {
    display: inline;
    font-weight: 400;
    font-size: 11pt;
    border-radius: 3px;
    cursor: pointer;
    height: 45px;
    width: 250px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #df3636;
    border: 2px solid #df3636;
    color: #fff;
}

.button-cyan {
    background-color: #169498;
    border: 2px solid #169498;
}

.discord-button {
    display: inline;
    font-weight: 400;
    font-size: 11pt;
    border-radius: 3px;
    cursor: pointer;
    height: 45px;
    width: 250px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #7289da;
    border: 2px solid #7289da;
    color: #fff;
}

.support-button {
    display: inline;
    font-weight: 400;
    font-size: 11pt;
    border-radius: 3px;
    cursor: pointer;
    height: 45px;
    width: 250px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border: 2px solid #ffffff;
    color: #000000;
}

.button-icon {
    position: absolute;
    margin-left: 10px;
}

pre {
    margin-top: 10px;
    margin-bottom: 40px;
}

pre > code {
    margin: 10px;
    display: block;
}

code, pre {
    background-color: var(--code-background-color);
    color: var(--code-color);
    font-size: 103%;
    border-radius: 5px;
    padding: 2px;
}

.highlight {
    background-color: rgb(19, 19, 19);
}

.highlight pre, .highlight code {
    background-color: rgb(19, 19, 19);
    color: rgb(151, 224, 229); 
}

.highlight .hll { background-color: #272822; }
.highlight .c { color: #75715e } /* Comment */
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .k { color: #66d9ef } /* Keyword */
.highlight .l { color: #ae81ff } /* Literal */
.highlight .n { color: #f8f8f2 } /* Name */
.highlight .o { color: #f92672 } /* Operator */
.highlight .p { color: #f8f8f2 } /* Punctuation */
.highlight .cm { color: #75715e } /* Comment.Multiline */
.highlight .cp { color: #75715e } /* Comment.Preproc */
.highlight .c1 { color: #75715e } /* Comment.Single */
.highlight .cs { color: #75715e } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #ae81ff } /* Literal.Number */
.highlight .s { color: #e6db74 } /* Literal.String */
.highlight .na { color: #a6e22e } /* Name.Attribute */
.highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight .nc { color: #a6e22e } /* Name.Class */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .nd { color: #a6e22e } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #a6e22e } /* Name.Exception */
.highlight .nf { color: #a6e22e } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #a6e22e } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlight .ow { color: #f92672 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight .se { color: #ae81ff } /* Literal.String.Escape */
.highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight .si { color: #e6db74 } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74 } /* Literal.String.Other */
.highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */

.highlight .gh { } /* Generic Heading & Diff Header */
.highlight .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
.highlight .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */