---
---

h2 {
    margin-bottom: .5rem;
}

#content h2 {
    font-weight: bold;
    margin-top: 150px;
}

h3 {
    margin-top: 60px;
    font-weight: bold;
}

h4 {
    margin-top: 30px;
}

.title {
    margin-bottom: 70px;
}

.published {
    color: var(--light-text-color);
    font-style: italic;
}

.subtitle {
    margin-bottom: 10px;
}

.content {
    margin-bottom: 60px;
}

.post-img {
    width: 100%;
    margin-bottom: 30px;
}

.caption {
    font-style: italic;
    color: var(--light-text-color);
}

.post-video {
    width: 100%;
}

@media (max-width: 480px) {
    body {
        margin: 10px;
    }
}

.desc-ul li {
    margin: 0 0 15px 0;
}

.centered {
    text-align: center;
}

#content img {
    width: 100%;
}

iframe {
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid var(--main-text-color);
    margin-bottom: 80px;
}

th, td {
    padding: 7px;
}

h2 + h4 {
    margin-top: 0px;
}

#content > h3:first-child {
    margin-top: 0px;
}

[id]::before {
    content: '';
    display: block;
    height: 100px;
    margin-top: -100px;
    visibility: hidden;
}