---
---

h2 {
    margin-bottom: .5rem;
}

#content h2 {
    font-weight: bold;
    margin-top: 150px;
}

h3 {
    margin-top: 60px;
    font-weight: bold;
}

h4 {
    margin-top: 30px;
}

.title {
    margin-bottom: 70px;
}

.published {
    color: var(--light-text-color);
    font-style: italic;
}

.subtitle {
    margin-bottom: 10px;
}

.content {
    margin-bottom: 60px;
}

.post-img {
    width: 100%;
    margin-bottom: 30px;
}

.caption {
    font-style: italic;
    color: var(--light-text-color);
}

.post-video {
    width: 100%;
}

.download-button {
    display: inline;
    font-weight: 400;
    font-size: 11pt;
    border-radius: 3px;
    cursor: pointer;
    height: 45px;
    width: 250px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #df3636;
    border: 2px solid #df3636;
    color: #fff;
}

.button-cyan {
    background-color: #169498;
    border: 2px solid #169498;
}

.discord-button {
    display: inline;
    font-weight: 400;
    font-size: 11pt;
    border-radius: 3px;
    cursor: pointer;
    height: 45px;
    width: 250px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #7289da;
    border: 2px solid #7289da;
    color: #fff;
}

@media (max-width: 480px) {
    body {
        margin: 10px;
    }
}

.desc-ul li {
    margin: 0 0 15px 0;
}

pre {
    margin-top: 10px;
    margin-bottom: 40px;
}

pre > code {
    margin: 10px;
    display: block;
}

code, pre {
    background-color: var(--code-background-color);
    color: var(--code-color);
    font-size: 103%;
    border-radius: 5px;
    padding: 2px;
}

.centered {
    text-align: center;
}

#content img {
    width: 100%;
}

iframe {
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid var(--main-text-color);
    margin-bottom: 80px;
}

th, td {
    padding: 7px;
}