---
layout: default
---

<head>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/post.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/document.css">
</head>


<div style="margin-top: 80px;">
<h2 class="centered"><b>{{ page.title }}</b></h2>
{% if page.authors %}
    <h5 class="centered">A report by {{ page.authors }}</h5>
{% endif %}

<h5 class="centered" ><i>{{ page.subtitle }}</i></h5>

<div id="content">{{ content  }}</div>
</div>

<script src="{{ site.baseurl }}/assets/js/post.js"></script>