<!DOCTYPE html>
<html>
{% include head.html %}

<head>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/docs.css">
</head>

{% include header.html %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        <aside class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 sidebar">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100"  style="margin-top: 30px;">
                <a href="{{ site.baseurl }}/tminterface" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-decoration-none">
                    <img src="{{ site.baseurl }}/assets/images/icons/ificon.png" width="40px" style="margin-right: 12px; border-radius: 10%">
                    <span class="fs-5 d-none d-sm-inline"><b>TMInterface Guide</b></span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" style="margin-left: 30px;" id="menu">
                    <div class="sidebar-header">Getting started</div>
                    <li>
                        <a href="{{ site.baseurl }}/tminterface" class="nav-link align-middle px-0">
                            <span class="ms-1 d-none d-sm-inline sidebar-item">Introduction</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/tminterface/installation" class="nav-link align-middle px-0">
                            <span class="ms-1 d-none d-sm-inline sidebar-item">Installation</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/tminterface/settings" class="nav-link align-middle px-0">
                            <span class="ms-1 d-none d-sm-inline sidebar-item">Interface Console & Settings</span>
                        </a>
                    </li>
                    <div class="sidebar-header">Scripting</div>
                    <li>
                        <a href="{{ site.baseurl }}/tminterface/first-script" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <span class="ms-1 d-none d-sm-inline sidebar-item">Your first script</span> 
                        </a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/tminterface/script-syntax" class="nav-link px-0 align-middle">
                            <span class="ms-1 d-none d-sm-inline sidebar-item">Script syntax</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/tminterface/input-extraction" class="nav-link px-0 align-middle">
                            <span class="ms-1 d-none d-sm-inline sidebar-item">Extracting inputs from replays</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/tminterface/config-file" class="nav-link px-0 align-middle">
                            <span class="ms-1 d-none d-sm-inline sidebar-item">The config file</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/tminterface/bindings" class="nav-link px-0 align-middle">
                            <span class="ms-1 d-none d-sm-inline sidebar-item">Key bindings</span>
                        </a>
                    </li>
                    
                    <div class="sidebar-header">Save states</div>
                    <li>
                        <a href="{{ site.baseurl }}/tminterface/save-states" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <span class="ms-1 d-none d-sm-inline sidebar-item">Using save states</span> 
                        </a>
                        <a href="{{ site.baseurl }}/tminterface/fast-forward" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <span class="ms-1 d-none d-sm-inline sidebar-item">Fast forward</span> 
                        </a>
                    </li>

                    <div class="sidebar-header">Console resources</div>
                    <li>
                        <a href="{{ site.baseurl }}/tminterface/commands" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <span class="ms-1 d-none d-sm-inline sidebar-item">Available commands</span>
                        </a>
                        <a href="{{ site.baseurl }}/tminterface/variables" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <span class="ms-1 d-none d-sm-inline sidebar-item">Available variables</span>
                        </a>
                    </li>

                    <div class="sidebar-header">Bruteforce</div>
                    <li>
                        <a href="{{ site.baseurl }}/tminterface/what-is-bf" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <span class="ms-1 d-none d-sm-inline sidebar-item">What is Bruteforce?</span> 
                        </a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/tminterface/param-config" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <span class="ms-1 d-none d-sm-inline sidebar-item">Parameter configuration</span> 
                        </a>
                    </li>
                    <!-- <li>
                        <a href="{{ site.baseurl }}/tminterface/triggers" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <span class="ms-1 d-none d-sm-inline sidebar-item">Working with triggers</span> 
                        </a>
                    </li> -->
                    
                    <div class="sidebar-header">Developer API</div>
                    <li>
                        <a href="{{ site.baseurl }}/tminterface/dev-intro" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <span class="ms-1 d-none d-sm-inline sidebar-item">Introduction</span> 
                        </a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/tminterface/ipc" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <span class="ms-1 d-none d-sm-inline sidebar-item">Interprocess communication</span> 
                        </a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/tminterface/messages" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <span class="ms-1 d-none d-sm-inline sidebar-item">Messages</span> 
                        </a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/tminterface/context-modes" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <span class="ms-1 d-none d-sm-inline sidebar-item">Context modes</span> 
                        </a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/tminterface/sim-state" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <span class="ms-1 d-none d-sm-inline sidebar-item">Simulation state</span> 
                        </a>
                    </li>
                </ul>
                <hr>
            </div>
        </aside>
        <div id="section-title" style="display: none;">{{ page.section_title }}</div>
        <div id="content" class="col-7 py-3">
            {{ content }}
        </div>
    </div>
</div>
<script src="{{ site.baseurl }}/assets/js/post.js"></script>
<script src="{{ site.baseurl }}/assets/js/index.js"></script>
<script src="{{ site.baseurl }}/assets/js/docs.js"></script>
